* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #508760; /* Dusk brown background */
    color: #fff;
    overflow-x: hidden;
}

#container {
    position: relative;
    width: 100vw;
}

nav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #2c302d;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    color: #F39C12; /* Highlight on hover and active */
}

/* Section layout and animation */
.section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    padding: 40px;
    margin: 20px auto;
    border: 4px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    width: auto;
    max-width: 80%; /* Limit the maximum width */
    background-color: rgba(255, 255, 255, 0.1); /* Transparent background */
}

.section.active {
    opacity: 1;
    transform: translateY(0);
}

/* Center alignment for the first section (home) */
#home {
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Left align headlines for all sections except the first one */
.section:not(#home) h2 {
    text-align: left;
    width: 100%;
}

h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

.content p {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

/* Skills list styling */
ul.skills-list {
    list-style-type: none;
    padding: 0;
}

ul.skills-list li {
    margin-bottom: 10px;
    font-size: 1.2em;
}

/* Job section styling */
.job {
    margin-bottom: 2em;
}

/* Search visualizer styling */
#array {
    background-color: transparent;
    height: 305px;
    width: relative; /* Set a relative width for visualizer */
    margin: 40px 0; /* Adjust margins for better spacing */
    position: relative;
}

.block {
    width: 45px;
    background-color: #13CE66;
    position: absolute;
    bottom: 0px;
    display: inline-block;
    text-align: center;
    transition: 0.2s all ease;
}

.block_id {
    position: absolute;
    color: rgb(205, 217, 211);
    bottom: 100%;
    margin-bottom: 5px;
    width: 100%;
    font-size: 12px;
    text-align: match-parent;
}

label, input, button {
    display: block;
    margin: 10px auto;
}

button {
    padding: 10px 20px;
    background-color: #13CE66;
    border: none;
    cursor: pointer;
    color: #fff;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    .section {
        padding: 20px;
        max-width: 90%;
    }

    .section:not(#home) h2 {
        font-size: 1.8em;
    }
}
